@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --corPurple: rgb(156, 57, 254);
    --corWhite: #f0f0f0;

    --fontTitle: 'Josefin Sans';
    --fontText: 'Overpass';
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('../background/galaxy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    font-family: var(--fontText)
}

main {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 45px;
}

h1 {
    font-family: var(--fontTitle);
}
.titulo a {
    text-decoration: none;
    color: var(--corWhite);
}

#Cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;              
    color: var(--corWhite);
}


.navegacao ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navegacao li {
    display: inline;
}

.navegacao a {
    color: var(--corWhite);
    text-decoration: none;
    font-size: 18px;
    transition: font-size 0.3s , color 0.3s ; 
    
}


.central {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 400px;
}

.central img {
    margin: 0 auto;
    width: 410px;

}


.planets-descricao{
    color: var(--corWhite);
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 40%;
    padding: 3px;
    flex-direction: column;
    gap: 30%;
    height: 60px;
    

}


.informacion-botoes{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    width: 400px;
    

}

button{
    height: 50px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    font-family: var(--fontText);
    font-size: 15px; 
    
}


.dados {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 4 QUADROS DA INFORMACOES DOS PLANETAS */ 
.dados-numericos {
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    padding: 10px;
    margin-top: 70px;

}


.dados-numericos div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /*Viusal*/
    border: 2px solid ;
    flex: 1; /* Faz com que cada div ocupe o mesmo espaço */
    text-align: start; /* Centraliza o texto */
    padding: 10px;
    
    background-color: var(--corWhite);
    border-radius: 8px; /* Arredonda as bordas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar os blocos */
    background-color: rgba(0, 0, 0, 0.553);
    color: var(--corWhite);
    
}

.dados-numericos h5 {
    font-family: var(--fontTitle);
    font-weight: 600;
}

.navegacao a:hover {
    color: var(--corPurple);
    font-size: 25px;
} 

.informacion-botoes button{
    transition: 0.3s;
}

.informacion-botoes button:hover{
    background-color: rgba(81, 14, 145, 0.729);
    color: white;
}