@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --corPurple: rgb(156, 57, 254);
    --corWhite: #f0f0f0;

    --fontTitle: 'Josefin Sans';
    --fontText: 'Overpass';
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('../background/galaxy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;              
    color: var(--corWhite);
    width: 100%;
    top: 0;
    z-index: 1000;
}



hr {
    background-color: white;
}
.navegacao ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navegacao li {
    display: inline;
}

.navegacao a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    
}


.central {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 400px;
    gap: 250px;
}

.central img {
    margin: 0 auto;
    width: 320px;
}


.planets-descricao{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 40%;
    padding: 3px;
    flex-direction: column;
    gap: 30%;
    height: 60px;
    

}


.informacion-botoes{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    width: 450px;

}

.informacion-botoes button{
    height: 50px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
}

.button-planets {
    padding: 2px 10px;
}

.dados {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 4 QUADROS DA INFORMACOES DOS PLANETAS */ 
.dados-numericos {
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    padding: 10px;
    margin-top: 20px;

}


.dados-numericos div {
    /*Viusal*/
    border: 2px solid ;
    flex: 1; /* Faz com que cada div ocupe o mesmo espaço */
    text-align: start; /* Centraliza o texto */
    padding: 10px;
    
    background-color: #f0f0f0; /* Cor de fundo para cada div */
    border-radius: 8px; /* Arredonda as bordas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar os blocos */
    
    
}


main {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;  

    margin-top: 45px;
}